#home{
    background: var(--global-backgrounds-section-color);
    padding-top: var(--global-spacing-filter);
}

@media (min-width: 0px) and (max-width: 600px) {
    #home{
        padding: 5px 15px 15px;
    }
}