#region{
    #select{
        font-size: var(--global-font2);
        background-color: var(--global-background-color-elements);
        box-shadow: var(--global-box-shadow);
        padding: 18px 22px;
        border-radius: var(--global-border-radius-elements);
        width: 188px;
        box-sizing: border-box;
        cursor: pointer;
    }
    #options{
        padding: 10px 0;
        margin: 3px 0 0;
        background-color: var(--global-background-color-elements);
        box-shadow: var(--global-box-shadow);
        border-radius: var(--global-border-radius-elements);
        width: 188px;
        position: absolute;
        z-index: 999999;
        li{
            font-size: var(--global-font2);
            padding: 5px 22px 5px 22px;
            cursor: pointer;
            transition: all 300ms;
            &:hover{
                background-color: var(--global-hover-background);
            }
            &:last-child{
                margin-bottom: 0;
            }
            &.selected{
                font-weight: bold;
            }
        }
    }
}